
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-size: 15px;
}

img{
  vertical-align: middle;
}

ul , ol{
  list-style: none;
  margin: 0;
  padding: 0;
}



a{
  text-decoration: none;
  color: black;
}
.container{
  width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  /* background-color: aqua; */
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: 1px;
 padding: 0;
 overflow: hidden;
 border: 0;
 clip: rect(0 0 0 0);
}



.header{
  margin-top: 20px;
}
.catolog {
  /* background-color: rgb(246, 8, 8); */
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
color: white;
  justify-content: space-around;
  border-radius: 10px;
  padding: 20px 0;
}

.search__input{
  width:429px;
  height: 46px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(241, 237, 237);
  padding: 0px 10px;

}

.search__input:focus{
  outline: none;
  border: 1px solid  rgb(241, 237, 237);
}

.catalog{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  justify-content: space-around;
  background-color:#EFEFFF;
  border-radius: 10px;
}

.catalog__text{
  display: flex;
  align-items: center; 
  margin-top: 10px;
  

}
.header__box{
  display: flex;
  align-items: center;
  
}

.header__min-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 50px;
}

.search__img{
  width: 22px;
  height: 22px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F4F7;;
  position: absolute;
  left: 345px;
  width: 83px;
  height: 45px;
  border-radius: 0 10px 10px 0;
}

.search__box{
  position: relative;
  display: flex;
  align-items: center;
  
}

.header__login{
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.header__login img{
  width: 25px;
  height: 25px;
  margin: 0 0 0 15px;
}
.header__login-btn{
  
  border: none;
  background-color: white;
}

.header__login-list{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
/* background-color: red; */
}

.bag-list{
  width: 100px;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
}

.heart-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  /* background-color: red; */
}


/* /////////////////////////////////////////////// */

.link__pages-box{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.link__gapes-box-liks{
  
text-decoration: none;
color: #a3a6ab;
}

.link__gapes-box-liks:hover{
  color: goldenrod;
}


.slide__img{
  width: 1400px;
}

.slider__box .carusel{
  border-radius: 20px;
  
}



.Slider {
  width: 100%; 
  height: 600px; 
  overflow: hidden;
  border-radius: 20px ; 
}

.slide {
  width: 100%;
  height: 100%; 
  border-radius: 20px ; 

}


.slide__img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 20px ; 

}

.cat__text{
  color:#700fff;
}

mark{
  border-radius: 10px;
  background-color: yellow;
}

/* /////////////////////// */


.cards__list{
  min-width: 240px;
  max-width:240px;
  min-height: 500px;
  /* background-color: rgb(243, 241, 241); */
  border-radius: 20px;
  margin-top: 80px;
}

.cards__box{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__text{
  color: #48494E;
max-width: 220px;
max-height:25px;
height: 25px;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family: 'Inter';
}

.cards__mark-box{
  display: flex;
  justify-content: space-between;
}

.cards__list p, span, del{
  margin: 10px 10px;
}

.cards__box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* btartibsiz joylash */
}

.card {
  width: calc(33.33% - 20px); /* Har bir cardning o'lchami (20px marginni hisobga oling) */
  margin-bottom: 20px; /* Pastki margin */
}


.cards__list-image{
width: 100%;
height: 300px;
border-top-left-radius: 19px;
border-top-right-radius: 19px;
}

.cards__min-box-text{
  font-size: 12px;
  color: #a3a6ab;

}

.cards__min-box{
  display: flex;
  align-items: center;

}


.cards__img-bag{
  width: 22px;
  height: 22px;
}


.help__box-img{
  width: 416px;
  height: 600px;
  border-radius: 10px;
  

}

.help__min-box-title{

  width: 100%;
}


.count__min-box{
  width: 100px;
  height: 50px;
  background-color: rgb(228, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.count__min-box button{
  background-color: #e7e8ec00;
  border: none;
  font-size: 20px;
}


.count{
  font-size: 30px;
  margin-top: 15px;
}

.coutn__text{

color: #700fff;
}


.help__box{
  
  display: flex;
  /* justify-content: sp; */
  /* background-color: red; */

}

.help__min-box{
  margin-left: 100px;
}

.shop__name{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

}

.count__flex{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.yetkazish{

    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  
}

.price__box{
  margin-top: 50px;
}


.price__min-box{
  width: 300px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit{
  width: 100%;
  height: 50px;
  background-color: #d4d5d8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.credit__text{
  margin-top: 15px;
  margin-left: 50px;
}


.shop{
  width: 100%;
  height:56px;
  background-color: #700fff;
  color: #fff;
  font-size: 25px;
  border: none;
  margin-top: 20px;
  border-radius: 20px;
}


.link__gapes a{
  cursor: pointer;
}


.footer__section-box{
  display: flex;
  justify-content: space-between;

}

.footer__section-box p{
  font-size:14px;
}


.footer__section-box h4{
  font-size:16px;
}


.footer-section{
  display: flex;
  flex-direction: column;
}

.cards__list{
  background-color: #fafbfe;
  border-radius: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



footer{
  margin-top: 100px;
  background-color: #eeeff4;
}